@model IEnumerable<Product>

@{
    ViewData["Title"] = "Customer Order History";
}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table" id="customerDataTable">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model=>model.Name)</th>
                    <th>@Html.DisplayNameFor(model=>model.Price)</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                       
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>

                    </tr>
                }
            </tbody>

        </table>

    </div>
</div>


