@model RegistrationVM;
@{
    ViewData["Title"] = "Register";
}

<div class="container p-5">
    <div class="card mx-3 mt-n5 shadow-lg" style="border-radius: 10px; border-left:8px #007bff solid; border-right: none; border-top:none; border-bottom:none">
        <div class="card-body">
            <h4 class="card-title mb-3 text-primary text-uppercase">Register</h4>

            <form asp-action="Register">
                <div class="row">

                    <label asp-for="FullName" class="control-label"></label>
                    <div class="form-floating mb-3">
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>

                    <label asp-for="UserName" class="control-label"></label>
                    <div class="form-floating mb-3">
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>

                    <label asp-for="Email" class="control-label"></label>
                    <div class="form-floating mb-3">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>


                    <label asp-for="Password" class="control-label"></label>
                    <div class="form-floating mb-3">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <div class="form-floating mb-3">
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
              
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
